.bg-img {
  background-image: url(img/bg-img.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-opacity-card {
  background-color: rgba(29, 29, 29, 0.4)
}